body , html{
    height: 100%;
    margin: 0;

    font-family: sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    line-height: 1;
}

.pimg1, .pimg2 , .pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    /* THIS ADDS PARALLAX AFFECT */

    background-attachment: fixed;

     /* TO REMOVE PARALLAX AFFECT
        background-attachment:scroll;

     */

}
p{
  font-size: 0.6vw;
}

.pimg1{
    background-image:url('img/framecolor.jpg');
    min-height: 100%;
    background-repeat:no-repeat;
}

.pimg2{
    background-image:url('img/framemid.jpg');
    min-height: 70%;
    background-repeat:no-repeat;
}

.pimg3{
    background-image:url('img/framebw.jpg');
    min-height: 70%;
    background-repeat:no-repeat;
}

.section{
    text-align: center;
    padding: 2% 8%;
}

.section p{
    text-align:justify;
    padding: 1%;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.5vw;
    letter-spacing: 1vw;
    text-transform: uppercase;
}
h2{
  font-size: 1.5vw;
}

.ptext .border.head{
    background-color: #fff;
    color: #000;
    padding: 2%;
}

.ptext .border.tail{
    background-color: #000;
    color: #fff;
    padding: 1%;
}


.ptext .border.trans{
    background-color: #111;
    color: #fff;
    opacity: 0.70;
    padding: 2%;
}

.listf li{
    text-align: left;
    font-size: 1.25vw;
}

footer{
    text-align: center;
    background-color: #fff;
    padding: 0.5%;
    bottom: 0;
    font-size: 0.45vw;
    width: 100%;
    position: relative;
}
/*biiger screen*/
@media only screen and (max-device-width: 1366px){
    .pimg1, .pimg2 , .pimg3{
        position: relative;
        min-height: 100%;
        background-position: center;
        background-attachment:scroll;
    }

    .section{
        text-align: center;
        padding: 5% 10%;
    }

    .section p{
        text-align:justify
    }

    .ptext{
        letter-spacing: 1vw;
        font-size: 2vw;
        text-align: center;
    }

    .ptext .border{
        background-color: #111;
        color: #fff;
        padding: 0.5vw;
    }


}
@media only screen and (min-device-width: 1366px){
  .ptext{
    font-size: 2.25vw;
    letter-spacing: 1vw;
  }
  p{
    font-size: 1.25vw;
  }
  h2{
  font-size: 1.75vw;
  }
  .ptext .border{
    padding: 1.5vw;
  }

}
