body , html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
}

.pimg1, .pimg2 , .pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    /* THIS ADDS PARALLAX AFFECT */

    background-attachment: fixed;

     /* TO REMOVE PARALLAX AFFECT 
        background-attachment:scroll;
     
     */

}

.pimg1{
    background-image:url(/img/framecolor.jpg);
    min-height: 100%;
    background-repeat:no-repeat;
}

.pimg2{
    background-image:url(/img/framemid.jpg);
    min-height: 40%;
    background-repeat:no-repeat;
}

.pimg3{
    background-image:url(/img/framebw.jpg);
    min-height: 40%;
    background-repeat:no-repeat;
}

.section{
    text-align: center;
    padding: 1% 7%;
}

.section p{
    text-align:justify;
    padding: 5px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 28px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.ptext .border.head{
    background-color: #fff;
    color: #000;
    padding: 20px;
}

.ptext .border.tail{
    background-color: #000;
    color: #fff;
    padding: 20px;
}


.ptext .border.trans{
    background-color: #111;
    color: #fff;
    opacity: 0.70;
    padding: 15px;
}

.listf li{
    text-align: left;
}

@media screen and (max-width:568px){
    .pimg1, .pimg2 , .pimg3{
        position: relative;
        min-height: 100%;
        background-position: center;
        background-attachment:scroll;
    }

    .section{
        text-align: center;
        padding: 2% 5%;
    }

    .section p{
        text-align:justify
    }

    .ptext{
        letter-spacing: 3px;
        font-size: 18px;
        text-align: center;
    }

    .ptext .border{
        background-color: #111;
        color: #fff;
        padding: 10px;
    }

    
}
