body , html{
    height: 100%;
    margin: 0;
}


.pimg1{
    background-image:url(/img/framecolor.jpg);
    background-size: cover;
    min-height: 100%;
    background-repeat:no-repeat;
}

.pimg2{
    background-image:url(/img/framemid.jpg);
    background-size: cover;
    min-height: 100%;
    background-repeat:no-repeat;
}

.pimg3{
    background-image:url(/img/framebw.jpg);
    background-size: cover;
    min-height: 100%;
    background-repeat:no-repeat;
}



