body , html{
    height: 100%;
    margin: 0;
}

.pimg1, .pimg2 , .pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    /* THIS ADDS PARALLAX AFFECT */

    background-attachment: fixed;

     /* TO REMOVE PARALLAX AFFECT 
        background-attachment:scroll;
     
     */

}

.pimg1{
    background-image:url(/img/framecolor.jpg);
    min-height: 100%;
    background-repeat:no-repeat;
}

.pimg2{
    background-image:url(/img/framemid.jpg);
    min-height: 40%;
    background-repeat:no-repeat;
}

.pimg3{
    background-image:url(/img/framebw.jpg);
    min-height: 40%;
    background-repeat:no-repeat;
}



@media screen and (max-width:400px){
    .pimg1, .pimg2 , .pimg3{
        min-height: 100%;
        background-position: center;
        background-attachment:scroll;
    }
}
